@fontePrincipal: Roboto, sans-serif;
@fonteDoTitulo: Lobster, cursive;
@cordoHeader: #636e72;
@corDoTexto: #fff;
@corDoTitulo: black;
@corDoFundo: #dfe6e9;
@corDaBorda: #2d3436;
@corDoBotao: #00b894;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: bold;
}

body {
    background-color:@corDoFundo;
    font-family: @fontePrincipal;
}

.container {
    max-width: 1920px;
    width: 100%;
}

header {
    display: flex;
    height: 250px;
    background-color: @cordoHeader;
    color: @corDoTexto;
    .container {
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        h1 {
            margin: 32px;
            font-size: 3em;
        }
        ul {
            li {
                display: inline;
                margin-left: 8px;
                a {
                    text-decoration: none;
                    color: @corDoTexto;
                }
            }
        }
    }
}


h1 {
    font-family: @fonteDoTitulo;
}

#inicio {
    text-align: center;
    justify-content: center;

    padding-top: 55px;
    h2 {
        margin-bottom: 32px;
        font-size: 3em;
        font-family: @fonteDoTitulo;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .texto-secundario {
        margin: 55px auto 0;
        max-width: 920px;
    }

    .sobre-animal {
        padding-top: 32px;
    }
}

.section-carrossel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

    p {
        max-width: 400px;
        margin-left: 55px;
        font-size: 22px;
    }
}

.carrossel {
    box-shadow: 2px 2px 4px #000;
    overflow: hidden;
    height: 500px;
    width: 500px;
    border-radius: 10%;
    
    .container-carrossel {
        display: flex;
        transition: transform 1s ease-in-out;
        transform: translateX(0);
    }

    img {
        object-fit: cover;
        height: 500px;
        width: 500px;
    }
}

.section-2 {
    background-color:#ecf0f1;
    align-items: center;
    text-align: center;
    h2 {
        color: @corDoTitulo;
        font-family: @fonteDoTitulo;
        font-size: 3em;
        margin: 70px;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
    }

    .cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .card {
            margin: 10px;
            background-color: @corDoTexto;
            color: @corDoTitulo;
            border-radius: 10px;
            padding: 20px;
            box-sizing: border-box;

            img {
                padding-top: 8px;
                max-width: 160px;
                width: 100%;
                border-radius: 10%;
            }

            h3 {
                margin-bottom: 10px;
            }

            p {
                margin: 0;
            }

            .botao {
                background-color: @corDoBotao;
                color: @corDoTexto;
                border: none;
                border-radius: 5px;
                margin-top: 8px;
                padding: 10px 20px;
                font-family: @fontePrincipal;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: darken(#81ecec, 40%);
                }
            }
        }
    }
}

.coment-section {
    margin: 150px;
}

.coment {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color:#FDF9F4;
    align-items: center;
    width: 60%;
    height: 60%;
    border-radius: 18px;
    font-weight: none;
    font-family: sans-serif;
    &-title {
        margin: 32px;
    }

    &-group {
        
        textarea {
            border: 1px solid #D5D5D5;
            border-radius: 10px;
            resize: none;
            padding: 18px;
            margin-bottom: 14px ;
        }
    }

    &-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;

        input {
            border: 1px solid #D5D5D5;
            border-radius: 10px;
            padding: 8px;
            margin-top: 12px;
        }
    }

    &-checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 24px;
        
        input {
            
            width: 24px;
            height: 24px;
            cursor: pointer;
        }

        label {
            font-size: 14px;
            padding-left: 8px;
        }
    }

    &-button {
        border-radius: 10px;
        margin: 24px;
        width: 70%;
        padding: 6px;
        background-color:  @corDoBotao;
        border: none;
        color: @corDoTexto;

        &:hover {
            background-color: darken(#81ecec, 40%);
        }
    }

}

footer {
    background-color: @cordoHeader;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.social {
    margin-bottom: 10px;
    &-icon {
        display: inline-block;
        margin-right: 10px;
        color: #fff;
        font-size: 24px;
        &:hover {
            color: #00f; /* Altere para a cor desejada ao passar o mouse */
        }
    }
}

@media screen and (max-width: 1023px) {
    .section-carrossel {
        display: block;

        p {
            padding-top: 32px;
            font-size: 18px;
        }
    }

    #inicio {
        .texto-secundario {
            max-width: 600px;
            font-size: 18px;
        }
    }

    .coment-section {
        margin: 110px;
    }

    .coment {
        display: flex;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        &-group {
            textarea {
                max-width: 300px;
                max-height: 120px;
            }
        }
        &-grid {
            
            gap: 22px;

            input {
                margin-left: 10px;
                max-width: 90%;
            }
        }

        &-checkbox {
            input {
                margin-left: 2px;
            }
        }
    }
}


@media screen and (max-width: 667px) {

    header {
        height: auto;
        flex-direction: column;
        padding: 20px 0;
        
        .container {
            flex-direction: column;
            text-align: center;
            
            h1 {
                margin: 20px 0;
                font-size: 2em;
            }

            ul {
                flex-direction: column;
                
                li {
                    margin: 8px 0;
                }
            }
        }
    }

    .container {
        padding: 0 10px;
    }

    .section-carrossel {
        margin: 20px 0;

        p {
            margin: 20px 0;
            font-size: 16px;
        }
    }

    .carrossel {
        width: 100%;
        height: auto;

        img {
            width: 100%;
            height: auto;
        }
    }

    .section-2 {
        h2 {
            margin:40px 0;
            font-size: 2em;
        }

        .container {
            padding: 0 10px;
        }

        .cards {
            flex-direction: column;
            
            .card {
                margin: 20px 0;
            }
        }
    }

    .coment-section {
        margin: 50px 0;
    }

    .coment {
        width: 90%;

        &-group {
            textarea {
                max-width: 220px;
            }
        }

        &-grid {
            grid-template-columns: 1fr;
        }

        &-checkbox {
            max-width: 240px;
            label {
                font-size: 12px;
            }
        }
    }
}

